[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
testpackage = "*"

[dev-packages]
pylint = "~=1.7.0"
pycodestyle = "*"
pydocstyle = "*"
nose = "*"
nose-cov = "*"
expecter = "*"
coverage = "*"
"coverage.space" = ">=0.7.2"
mkdocs = "*"
docutils = "*"
wheel = "*"
twine = "*"
sniffer = "*"
Pygments = "*"
PyInstaller = "*"
