[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
nose = "*"
nose-cov = "*"
expecter = "*"
coverage = "*"
"coverage.space" = "*"
mkdocs = "*"
docutils = "*"
wheel = "*"
twine = "*"
sniffer = "*"
Pygments = "*"
PyInstaller = "*"

[packages]
testpackage = "*"
