[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
testpackage = "*"

[dev-packages]
pylint = "~=1.7.0"
pycodestyle = "*"
pydocstyle = "*"
pytest = "~=3.0.7"
pytest-describe = "==0.11.0"
pytest-expecter = "==0.2.2.post6"
pytest-cov = "*"
pytest-random = "*"
coverage = "~=4.0"
"coverage.space" = "~=0.8"
mkdocs = "*"
docutils = "*"
wheel = "*"
twine = "*"
sniffer = "*"
Pygments = "*"
PyInstaller = "*"
